<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.mapper.CommodityImageMapper">

    <insert id="insertCommodityImage">
        INSERT INTO commodity_image (commodity_id, image_url, image_status)
        VALUES (#{commodityId}, #{imageUrl}, #{imageStatu})
    </insert>

    <select id="findByCommodityId" resultType="com.feidian.po.CommodityImage">
        SELECT id, commodity_id, image_url, image_status, create_time, update_time, is_deleted
        FROM commodity_image
        WHERE id = #{commodityId};
    </select>

</mapper>